.post{
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 60px;
}

.liked .postactions .points{
	color: #F16161 !important;
	color: green !important;
} 

.liked .postactions .upvote{
	color: #F16161 !important;
	color: green !important;
}

.postshow .posthead{
	background: #fff;
	border-radius: 4px 4px 0 0;
}
.posthead{
  float: left;
  width: 100%;
  padding: 13px 30px 0 81px;
  /* background: #fff; */
} 

.cmntsbox{
  width: 100%;
  float: left;
  /* padding: 47px 25px 10px; */
  background: #e5ebef;
  border-radius: 0 0 5px 5px;
  position: relative;
  /* background: #d9e1e7; */
}

#strm .cmntsbox{
	display: none;
}

.strmcmnts .viewcontrollers{
	display: none !important;
}

.strmcmnts .cmntsinfo{
	display: none !important;
}

.strmcmnts{
	/* padding: 12px 12px 0 12px !important; */
	/* margin-bottom: 8px; */
	border-radius: 0 0 4px 4px !important;
}

.postmeta{
  padding-left: 0;
  padding-bottom: 1px;
}

.postmeta .name a{
 font-weight: bold;
 color: #111;
 /* font-size: 0px; */
 display: inline-block;
}

.separator {
  padding: 0 8px;
  line-height: 1.5;
  font-size: 75%;
  color: #D7D7D7;
}
.cmntsctrl .separator{
	color: #C8C8C8;
	padding: 0 7px;
	line-height: 1.5;
	font-size: 11px;
}

.postmeta .img{
  position: absolute;
  left: 22px;
  top: 16px;
}

.postmeta .name {/* display: none */}
.postmeta .img img{
  width: 48px;
  border-radius: 4px;
}
.posthead .body{
  line-height: 1.38;
  color: #333;
}

.posthead .body p{
  margin-bottom: 6px;
  font-size: 14px;
  color: #222;
}

.posthead .body p:last-of-type{
	margin-bottom: 2px;
}
.pv{
  width: 100%;
  height: auto;
  float: left;
  padding: 13px 15px 7px 12px;
  display: block;
} 

.pv .postactions{
	margin-bottom: 0 !important;
}

.pvimgbox{
  display: inline;
  float: left;
  margin-right: 12px;
  margin-top: 2px;
  width: auto;
  position: relative;
}
.pvimgbox img{
  width: 75px;
  height: 60px;
  /* border-radius: 4px; */
}

.pvmeta {

  display: block;
  

  float: left;

  padding: 0;

width: auto;min-width: 75%;word-break: break-word;}

.postactions{
  float: left;
  margin: 4px 0 9px 0;
}

.postactions .points{
	font-size: 14px;
	color: #999;
	vertical-align: middle;
	padding-left: 6px;
}
.postactions .action{
  font-size: 13px;
  color: #999;
}

.postactions .action:hover, .postactions .action:focus{
	text-decoration: underline;
	cursor: pointer;
	
}

{
  font-size: 17px;
  
  color: #ADBFC8;
}

.postactions .voteaction{
  font-size: 16px;
  color: #C7C6C6;
  vertical-align: middle;
  font-weight: bold;
}

.fa-heart{

/* padding-right: 5px; */}

.awesome-heart1{
	font-size: 9px !important;
	padding-right: 0;
}

.awesome-heart2{
	font-size: 13px !important;
	padding: 0 5px;
}

.awesome-heart3{
	font-size: 17px !important;
	/* padding: 0 4px; */
	/* background: url("https://abs.twimg.com/a/1451265405/img/t1/web_heart_animation.png"); */
	/* background-repeat: no-repeat; */
	/* background-size: 2900%; */
	/* height: 50px; */
	/* width: 50px; */
	/* position: absolute; */
}

.fa-angle-up{
/* padding-right: 8px; */
font-weight: bold !important;
}
.fa-angle-down{
	font-weight: bold !important;
	padding-right: 0;
	padding-left: 6px;
	border-left: 2px solid;
	border-color: #eaedee;
	border-color: rgba(0,39,59,.08);
}

.postactions .downvote{
  padding-right: 0;
}

.pvtitle{
  display: block;
  font-weight: bold;
  word-wrap: break-word;
  margin-top: -3px;
  float: left;
  width: 100%;
  font-size: 14px;
}

.pvtitle a{
  font-weight: bold; word-wrap: break-word;

  color: #111;
}

.pvhost{
  font-size: 14px;
  float: left;
  color: #999;
  /* margin-top: 2px; */
  width: 100%;
}

.pvdisc{
  font-size: 14px;
  word-wrap: break-word;
  margin: 0;
  float: left;
  padding: 0;
  width: 100%;
  color: #888;
}



.cmnts{

float: left;margin-left: 13px;padding: 15px 28px 5px;width: 100%;}
.cmnt{
  position: relative;
  padding: 0px 5px 10px 40px;
  float: left;
  width: 100%;
}

#strm .cmnts{
	padding: 11px 13px 7px 19px;
}

#strm .readall{
	padding: 9px 22px 9px;
	display: inline-block;
}

#strm .readall a{
	/* color: #6F808A; */
	color: #777;
}

#strm .cmntform .cmntrimg{
	left: 22px;
}

.cmntform .cmntrimg{
	left: 31px;
	top: 10px;
	width: 38px;
	height: 38px;
}
.cmntrimg{
  position: absolute;

  left: 0px;
  top: 2px;
  width: 32px;
  height: 32px;
  border-radius: 3px;
}
.cmntcntnt{
  font-size: 14px;
  line-height: 1.3;
}
.cmntr{
  font-weight: bold;
  display: block;
  color: #000;
  margin-bottom: 3px;
} 
.cmntbody{
  display: inline;
  line-height: 1.38;
  color: #222;
  text-rendering: optimizeLegibility;
}

.cmntbody  p{
  margin-bottom: 6px;
  font-size: 14px;
}

.cmntbody  p:last-of-type{
	margin-bottom: 2px;
	display: inline;
}

.cmntsctrl{
  color: #ADACAC;
  margin-top: 2px;
}

.cmntsctrl .points{
	color: #777;
	font-size: 12px;
}

.cmntsctrl button{
	font-size: 13px;
	color: #777;
	border: none;
	background: none;
	font-weight: normal;
	padding: 0;
}

.post .viewcontrollers{
  position: absolute;
  z-index: 99999;
  right: 25px;
  top: 13px;
  color: #888;
  font-size: 13px;
  display: none;
}

.post .viewcontrollers button{
  padding: 3px 8px;
  font-size: 11px;
  margin-left: 6px;
  background: rgba(255, 255, 255, 0.71);
  color: #888;
  border: none;
  border-radius: 4px;
  font-weight: normal;
}

.post .viewcontrollers .active{
  color: #333;
  font-weight: bold;
  background-color: #fff;
}

.cmnt .showmore{
  padding: 0;
  margin-left: 4px;
  background: none;
  border: none;
  color: #157ED5;
  font-weight: normal;
}
.cmnt .showmore:hover{
  text-decoration: underline;
}


.rplform{

width: 100%;margin-top: 7px;}

.rplform textarea, .cmntform textarea{
  font-size: 14px;
  padding: 7px 11px;
  display: block;
  width: 100%;
  border: 1px solid #CDD3DA;
  resize: none;
  outline: none;
  border-radius: 3px;
}

.strmcmnts .cmntform{
	padding-bottom: 12px;
	padding-right: 13px;
	padding-left: 69px;
}

.strmcmnts .form-group{
	margin-bottom: 0 !important;
}

.cmntfrmcaret{
	top: -8px;
	left: 39px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid #dfe6eb;
}

.post .nocmnts{
	border-radius: 0 0 4px 4px !important;
	border-bottom: 0 !important;
}

.cmntform{

  padding: 11px 11px 11px 79px;background: #dfe6eb;border-bottom: 1px solid #D6DCE0;float: left;width: 100%;}

  .cmntform button{
    /* float: right; */
    /* display: none; */
  }

  .cmntdate{
    color: #777;
    font-weight: normal;
    font-size: 12px;
  }

  .cmntsinfo{
    position: absolute;
    top: 14px;
    font-weight: bold;
    font-size: 14px;
    color: #646669;
    padding-left: 2px;
    display: none;
  }

.cmnts .topparent{
  padding-left: 49px !important;
  margin-left: -10px !important;
}

#strm .cmnts li:last-of-type{
	padding-bottom: 2px;
}

.cmnts .topparent .cmntrimg{
  width: 38px;
  height: 38px;
}