/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
    position: relative;
    width: 170px;
    display: inline-block;
    float: left;
}
.Select-value-label{
    font-weight: bold;
    color: #777;
    position: absolute;
}
:not(.Select--multi) > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 4px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-control {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333333;
    cursor: default;
    outline: none;
    height: 32px;
    margin-top: -7px;
    padding: 8px 52px 8px 4px;
    transition: all 200ms ease;
}

.Select-control:hover {
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); */
}

.is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: white;
    border-color: #b3b3b3 #cccccc #d9d9d9;
    cursor: text;
}

.is-open > .Select-control > .Select-arrow {
    border-color: transparent transparent #bbb;
    border-width: 0 5px 5px;
}

.is-focused:not(.is-open) > .Select-control {
  /*  border-color: #0088cc #0099e6 #0099e6; */
  /*  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5); */
    cursor: text;
}

.Select-placeholder {
    color: #A0A0A0;
    padding: 8px 52px 4px 4px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipses;
    white-space: nowrap;
}

.has-value > .Select-control > .Select-placeholder {
    color: #888;
    font-weight: bold;
}

.Select-input > input {
    cursor: default;
    background: none transparent;
    border: 0 none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
}

.is-focused .Select-input > input {
    cursor: text;
}

.Select-loading {
    -webkit-animation: spin 400ms infinite linear;
    -o-animation: spin 400ms infinite linear;
    animation: spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #cccccc;
    border-right-color: #333333;
    display: inline-block;
    position: relative;
    margin-top: -8px;
    position: absolute;
    right: 30px;
    top: 50%;
}

.has-value > .Select-control > .Select-loading {
    right: 46px;
}

.Select-clear {
    color: #bbb;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 3px 10px;
    position: absolute;
    right: 17px;
    top: 0;
    display: none;
}

.Select-clear:hover {
    color: #c0392b;
}

.Select-clear > span {
    font-size: 1.1em;
}

.Select-arrow {
    border-color: #bbb transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: -ceil(2.5px);
    position: absolute;
    right: 10px;
    top: 11px;
    width: 0;
    display: none;
}

.Select-menu {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    border: 1px solid #cccccc;
    border-top-color: #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Select-option {
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    font-weight:bold;
    cursor: pointer;
    display: block;
    padding: 4px 10px;
}

.Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.Select-option.is-focused {
    background-color: #f0f0f0;
    color: #222;
}

.Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
}

.Select.is-multi .Select-control {
    padding: 2px 52px 2px 3px;
}

.Select.is-multi .Select-input {
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 2px;
    padding: 3px 0;
}

.Select-item {
    background-color: #f2f9fc;
    border-radius: 2px;
    border: 1px solid #c9e6f2;
    color: #0088cc;
    display: inline-block;
    font-size: 1em;
    margin: 2px;
}

.Select-item-icon,
.Select-item-label {
    display: inline-block;
    vertical-align: middle;
}

.Select-item-label {
    cursor: default;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    padding: 3px 5px;
}

.Select-item-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c9e6f2;
    padding: 2px 5px 4px;
}

.Select-item-icon:hover,
.Select-item-icon:focus {
    background-color: #ddeff7;
    color: #0077b3;
}

.Select-item-icon:active {
    background-color: #c9e6f2;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}