normalize.css v3.0.2 */html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
;
    width: 12px;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    display: block;
    resize: none;
    padding: 8px 13px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    border: none;
}

textarea:focus{
    outline: none;
    border: none;
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*@font-face {
    font-family: "AtlasTypewriterRegular";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url(AtlasTypewriter-Regular-Web.eot);
    src: url(AtlasTypewriter-Regular-Web.eot) format("embedded-opentype"),url(AtlasTypewriter-Regular-Web.woff) format("woff"),url(AtlasTypewriter-Regular-Web.ttf) format("truetype"),url(AtlasTypewriter-Regular-Web.svg) format("svg")
}*/



@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: bold;
    src: url("fonts/SourceSansPro-Bold.ttf");
}

/*@font-face {
  font-family:'OpenSans-Light';
  font-style:normal;
  src:url("../fonts/OpenSans-Light.ttf");
}
*/
@font-face {
    font-family: 'OpenSans-Semibold';
    font-style: bold;
    src: url("fonts/OpenSans-Semibold.ttf");
}




#app {
    width: 875px;
    margin: 0 auto;
    padding-top: 69px;
    z-index: 1;
    position: relative;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-y: scroll;
    background: #D7E8F3;
    background: #9FD1EF;
    /* background: #a6d6fb; */
    /* background: #b0d9f1; */
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #1F97E0;
    color: #3A8FD5;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}
a:focus {
    outline: none;
    /*outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; */
}
img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1,
.h1 {
    font-size: 37px;
}
h2,
.h2 {
    font-size: 28px;
}
h3,
.h3 {
    font-size: 21px;
}
h4,
.h4 {
    font-size: 16px;
}
h5,
.h5 {
    font-size: 12px;
}
h6,
.h6 {
    font-size: 10px;
}
p {
    margin: 0 0 10px;
}
input {
    padding: 6px 13px;
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 4px;
}
input[type="text"], input[type="password"] {
    width: 220px;
}
input:focus {
    outline: none;
}
.bold {
    font-weight: bold;
}

.error {
    color: #CA1414 !important;
    font-size: 12px;
    font-weight: bold;
}

.bluebtn {
   background: linear-gradient(#3275AF, #225077) !important;
   color: #fff !important;
}

.bigbtn{
    padding: 7px 22px !important;
}

.btn {
    padding: 0;
    background: none;
    border: none;
    background: #fff;
    padding: 5px 22px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    /* box-shadow: 0 1px 1px rgba(40, 65, 97, 0.22); */
}

.btn:focus, .btn:active {
    outline: none;
}

.cleanlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col {
    display: inline-block;
    float: left;
    /*width: 600px;*/
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none !important;
}

.red {
    color: rgb(231, 87, 87) !important;
}

.gray8 {
    color: #A0A0A0 !important;
}


/* NavBar */
#navbar {
    background: rgb(255, 255, 255);
    width: 100%;
    background: rgb(3, 169, 245);
    height: 47px;
    /* background: rgb(16, 91, 175); */
    position: fixed;
    /* background: #55acee; */
    top: 0;
    left: 0;
    z-index: 999999;
    /* background: linear-gradient(#0DADF7, #03A5EF); */
    /* box-shadow: 0 1px 2px rgba(31, 95, 160, 0.26); */
    /* border-bottom: 1px solid rgba(41, 139, 222, 0.58); */
}

#navbar .container {
    margin: 0 auto;
    width: 875px;
    padding-top: 0px;
}

#navbar .container a {
    color: rgba(253, 253, 253, 0.63);
}

#navbar .container ul
{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0
}

#navbar .container ul a
{
    display: block;
    color: #969595;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    padding: 13px 10px 10px 10px;
    /* border-bottom: 4px solid #3B6ED7; */
}

#navbar .container ul li
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#navbar .container ul li.current-menu-item
{
    background: #ddd
}

#navbar .container ul li:hover
{
    /* background:#f6f6f6
     */
}

/*#navbar .container ul ul
{
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    background: #fff;
    padding: 0;
    border-radius: 4px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 6px rgba(193, 193, 193, 0.43);
}

#navbar .container ul ul li
{
    float: none;
    width: 160px;
}

#navbar .container ul ul a {
    padding: 7px 15px;
}
#navbar .container ul ul a:hover {
    background: #EFEFEF;
    color: #444;
}


#navbar .container ul ul ul
{
    top: 0;
    left: 100%
}*/

#navbar .container ul li:hover > ul
{
    display: block
}


.navgroup li {
    position: relative;
    display: block;
    padding: 10px 12px;
    list-style: none;
    
    float: left;
}

.navgroup img {
    width: 28px;
}

.navgroup .profimg {
    width: 22px;
    height: 22px;
    padding: 0;
    border-radius: 3px;
    margin-right: 9px;
}

.navgroup .tab {
    font-size: 14px;
    color: rgba(110, 115, 119, 0.9);
    font-family: OpenSans-Semibold;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.9);
}

.navgroup {
    padding: 0;
    margin: 0;
}

#notificationscount{
    font-size: 11px;
    font-weight: bold;
    float: right;
    line-height: 1.3;
    margin: -3px 0 0 4px;
    padding: 1px 4px;
    letter-spacing: -0.1px;
    border-radius: 4px;
    font-family: sans-serif;
    background: rgb(232, 39, 39);
    color: rgb(255, 255, 255);
}

#notificationsbox{
    z-index: 99999999999;
    width: 300px;
    top: 38px;
    right: 0;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    box-shadow: -1px 5px 16px rgba(179, 179, 179, 0.15);
}

#notificationsbox .nheader{

padding: 6px 11px;border-bottom: 1px solid #ddd;}

#notificationsbox .ntitle{
    color: #333;
    font-weight: bold;
    font-size: 13px;
}

#notificationsbox .naction{
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #3A8FD5;
    padding-top: 1px;
}

.notification{
    padding: 9px 9px 7px 9px !important;
    line-height: 1.3;
    font-size: 12px;
    color: #999;
    width: 100%;
    font-weight: normal;
    border-bottom: 1px solid #eee;
}

/*.notification.active{
    #F5F9FD
}*/

.notification:last-of-type{
    border-bottom: none;
}

.notification .body{

}

.notification .msg{
    font-weight: normal;
    color: #333;
}

.notification .doer{
    color: #333;
    font-weight: bold;
}

.notification .date{
    font-weight: normal;
    color: #B9B9B9;
    margin-top: 3px;
}

.notification .imgbox{
    display: block;
}

.notification .img{
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 1px;
}

@font-face {
    font-family: 'Vegur Bold';
    font-style: normal;
    /*font-weight:700;*/
    src: url("Vegur-Bold.otf");
}

#logo {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    font-family: "Source Sans Pro";
    padding: 5px 12px 0 0;
    float: left;
}

#search {
    display: inline-block;
    vertical-align: middle;
    width: 205px;
    padding: 5px 14px 6px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #111;
    margin-top: 8px;
    font-family: OpenSans-Regular;
    background-image: none;
    margin-left: 5px;
    background: #F0F3F5;
    background: #fff;
}
#search:focus {
    outline: none;
}
/* end NavBar */


.col2 .content {
    width: 600px;
    margin-left: 15px;
    /* padding-top: 43px; */
    display: inline-block;
    float: left;
}

.col2 {
    float: left;
    position: relative;
    width: 100%;
}

/* TablesNav */
.col2 .sidebar {
    width: 260px;
    display: inline-block;
    float: left;
}

.col2 .header{
    margin: 0;
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 12px 5px 16px;
    border-radius: 4px;
    height: 50px;
}

.col2 .header .title{
    font-size: 28px;
}
.col2 .header .ctrl {

display: inline-block;float: right;margin: 0;margin-top: 3px;} 

.col2 .header .joinbtn{

margin-top: 4px;} 

.col2 .header .tab:first-of-type{border:none;}

.col2 .header .tab{

float: left;margin-left: 14px;padding-left: 25px;     /* border-left: 1px solid #D7DCE0; *//* border-left: 1px solid #ddd; */height: 32px;font-size: 16px;color: #1774B5;/* color: #333; */}

.col2 .header .tab p{
    /* text-align: center; */
    margin: 0;
    line-height: 1.2;
}

.col2 .header .tab .lbl{
    color: #999;
    font-size: 13px;
}

.col2 .header .tlbl{
    background: #8F43B3;
    color: #fff;
    font-size: 11px;
    padding: 1px 10px;
    left: 87px;
    top: 10px;
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
}

.col2 .sidebar .sc{
    margin-bottom: 10px;
    padding: 11px 15px 13px;
    background: #fff;
    width: 100%;
    border-radius: 4px;
    display: inline-block;
}

.col2 .sidebar .title {
    color: #9A9A9A;
    margin-bottom: 6px;
    font-size: 18px;
    font-family: OpenSans-Regular;
}

.col2 .sidebar .list {
    padding-left: 0;

}

.col2 .sidebar .table {
    padding: 2px 0;
    font-size: 14px;
}

.col2 .sidebar .table .active .name {
    font-weight: bold;
    color: #222;
}

.col2 .sidebar .name {
    cursor: pointer;
    display: inline-block;
    color: #777;
}

.col2 .sidebar .name:hover {
    text-decoration: none;
}

#tsb h2 {
    margin-top: 0;
}
/* end TablesNav*/

/* Stream */
#strm {
    margin-bottom: 60px;
    width: 100%;
    min-height: 84px;
    /* border: 1px solid rgba(66, 119, 154, 0.44); */
    border-radius: 4px;
}


#strm .list {
    float: left;
    
    width: 100%;
}

#strm .beforeexpanded .post{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom: none !important;
}


#strm .afterexpanded .post{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

#strm .beforeexpanded .post{
    margin-bottom: 0 !important;
    border-bottom: none !important;
}

#strm .pexpanded{
    border-bottom: none !important;
}

#strm .postbox {
    float: left;
    width: 100%;
}

#strm .postbox:first-of-type .post{
    border-radius: 4px 4px 0 0;
    margin-top: 0 !important;
}

#strm .postbox:last-of-type .post{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom: none;
}

#strm .postbox:first-of-type .posthead:hover{
    border-radius: 4px 4px 0 0;
}

#strm .postbox:last-of-type .posthead:hover{
    border-radius: 0 0 4px 4px;
}

#strm .postbox:first-of-type .pexpanded{
    margin-top: 0 !important;
}

#strm .post {
    margin-bottom: 0px;
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}

#strm .pexpanded .cmntsbox{
    display: block !important;
}

#strm .pexpanded .post{
    margin-top: 8px;
    border-bottom: 0;
    margin-bottom: 8px;
    border-radius: 4px !important;
}

#strm .cmntfrmcaret{
    left: 30px;
}


#strm .posthead {
    padding: 10px 20px 0 70px;
}

#strm .posthead:hover{
    background: #F1F8FD;
    background: #F6FAFD;
}

#strm .afterexpanded .posthead:hover{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

#strm .beforeexpanded .posthead:hover{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#strm .pexpanded .posthead:hover{
    border-radius: 4px 4px 0 0 !important;
}
#strm .postmeta .img {
    left: 12px;
    top: 13px;
}
#strm .postactions {
    margin: 2px 0 6px 0px;
}

.postform {
    background: #fff;
    border-radius: 4px;
}

.postform form {
    padding: 6px 12px;
}
.postform .lftdl {
    width: 42px;
    padding: 0;
    margin: 0;
}
.postform .lftdls {
    font-weight: normal;
    padding-left: 2px;
}
.postform label {
    color: #777;
    font-size: 14px;
    font-weight: bold;
}
.postform table {
    width: 100%;
}

.postform input {
    width: 100% !important;
    border: none;
    font-size: 14px;
    color: #777;
    font-weight: bold;
    padding: 6px 0 0px 0px;
}

.postform input:focus, .postform input:active {
    outline: none;
}

#pstfrm form {
    
    float: left;
    width: 100%;
}

#pstfrm #ctrl {
    float: left;
    width: 100%;
    border-radius: 0 0 3px 3px;
    padding: 8px 0px 0px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    border-top: 1px solid #ddd;
    position: relative;
    height: 38px;
}



#pstfrm .selectbox {
    display: inline-block;
    height: 30px;
    position: absolute;
    left: 12px;
    text-align: left;
}

#pstfrm .selectbox .lbl {
    float: left;
    color: #777;
}

.postform .counter {
    float: right;
    color: #999;
    position: absolute;
    right: 65px;
}


#pstfrm .pstbtn {
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 0px;
    top: 0;
    display: inline-block;
    padding: 7px 13px;
    color: #3A8FD5;
    border-radius: 3px;
}

#pstfrm .pstbtn:focus, #pstfrm .pstbtn:hover {
    color: #08c;
}

#pstfrm .pstbtn:disabled {
    color: #CBCBCB;
}

#pstfrm textarea {
    padding: 3px 0px;
    margin-bottom: 0;
}
#pstfrm textarea:focus {
    border: none;
    outline: none;
}
textarea::-moz-placeholder, input::-moz-placeholder {
    color: #888;
    opacity: 1;
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    color: #888;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #888;
}

#search::-moz-placeholder {
    color: #999;
    opacity: 1;
}
#search:-ms-input-placeholder {
    color: #999;
}
#search::-webkit-input-placeholder {
    color: #999;
}

.pvf {
    border-top: 1px dashed #ccc;
    width: 100%;
    height: auto;
    min-height: 90px;
    float: left;
    padding: 12px;
    display: inline-table;
    position: relative;
}

/*.pvfclose{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.pvfclose:hover, .pvfclose:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  filter: alpha(opacity=50);
  opacity: .5;
}*/

.pvfimgclose {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.pvfimgclose:hover {
    opacity: 1;
}

.pvfimgclose a {
    background: rgba(0, 0, 0, 0.57);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}
.pvfimgclose a:hover {
    text-decoration: none;
    outline: none;
}


/* end Stream */



#pstfrm {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    /* border: 1px solid rgba(66, 119, 154, 0.44); */
}



.strmhead {
    margin-bottom: 8px;
    padding: 7px 13px;
    background: #FFF;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    /* border: 1px solid rgba(66, 119, 154, 0.44); */
}

.strmhead .sort {
    float: right;
    display: inline-block;
}

.strmhead .sort li {
    display: inline-block;
    padding-left: 12px;
    font-weight: normal;
    font-size: 14px;
    color: #999;
}

.strmhead .sort .active {
    color: #333;
    font-weight: bold;
}

.strmhead .t {
    
    margin-right: 10px;
}

.strmhead .pg {
    font-weight: normal;
    font-size: 14px;
    color: #B7B7B7;
    margin-right: 9px;
}




#tblfrm{
    background: rgba(255, 255, 255, 0.41);
    border-radius: 5px;
    width: 600px;
    margin: 0 auto;
}

#tblfrm .t{
    background: #e5ebef;
    background: #fff;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.form-group{
margin-bottom: 7px;width: 100%;position: relative;}

.form-group .hint{
    position: absolute;
    display: block;
    right: 9px;
    top: 9px;
    color: #B1B1B1;
}

.form-ctrl{

direction: rtl;padding-top: 1px;}

.form-ctrl-post{
    margin-top: 6px;
    float: right;
}

.form-ctrl-post button{
    float: right;
    margin-left: 7px;
}
.form-ctrl button{

margin-left: 7px;}

#tblfrm form{
    padding: 10px 12px;
}